<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenzie Habit</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <div class="primeiroBox">
            <h2>KenzieHablit</h2>
            <figure>
                <img src="../assets/img/Ellipse 3.png" alt="">
            </figure>
        </div>
        <div class="segundoBox">
            <figure>
                <img src="../assets/img/Ellipse 3.png" alt="">
            </figure>
            <h3>Julia Silva Rodrigues</h3>
        </div>
    </header>

    <main>

        <section class="secaoCabecalho">
            <h3>Tarefas</h3>
            <div>
                <button class="botaoTodos">Todos</button>
                <button class="botaoConcluidos">Concluídos</button>
                <button class="botaoCriar">Criar</button>
            </div>
        </section>

        <section class="secaoTabela">
            <table>
                <tr class="cabecalhoTabela">
                    <th class="status">Status</th>
                    <th class="titulo">Titulo</th>
                    <th class="descricao">Descrição</th>
                    <th class="categoria">Categoria</th>
                    <th class="editar">Editar</th>
                </tr>
                <tr class="conteudoTabela">
                    <th class="conteudoStatus"><input type="checkbox" name="" id="" class="check"></th>
                    <th class="conteudoTitulo">Titulo</th>
                    <th class="conteudoDescricao">Descrição</th>
                    <th class="conteudoCategoria">Categoria</th>
                    <th class="conteudoEditar">...</th>
                </tr>
                <tr class="conteudoTabela">
                    <th><input type="checkbox" name="" id="" class="check"></th>
                    <th class="conteudoTitulo">Titulo</th>
                    <th class="conteudoDescricao">Descrição</th>
                    <th class="conteudoCategoria">Categoria</th>
                    <th class="conteudoEditar">...</th>
                </tr>

                <tr class="conteudoTabela">
                    <th><input type="checkbox" name="" id="" class="check"></th>
                    <th class="conteudoTitulo">Titulo</th>
                    <th class="conteudoDescricao">Descrição</th>
                    <th class="conteudoCategoria">Categoria</th>
                    <th class="conteudoEditar">...</th>
                </tr>
                <tr class="conteudoTabela">
                    <th><input type="checkbox" name="" id="" class="check"></th>
                    <th class="conteudoTitulo">Titulo</th>
                    <th class="conteudoDescricao">Descrição</th>
                    <th class="conteudoCategoria">Categoria</th>
                    <th class="conteudoEditar">...</th>
                </tr>

                <tr class="conteudoTabela">
                    <th><input type="checkbox" name="" id="" class="check"></th>
                    <th class="conteudoTitulo">Titulo</th>
                    <th class="conteudoDescricao">Descrição</th>
                    <th class="conteudoCategoria">Categoria</th>
                    <th class="conteudoEditar">...</th>
                </tr>


            </table>
        </section>
        <button class="carregarMais">Carregar mais</button>
    </main>


    <div class="modal_geral" id="modal_criarHabito">

        <div class="modal-inner">
            <div class="fecharModal_modal-inner">
                <h2>Criar hábito</h2>
                <button id="buttonFechar">
                    <img src="../assets/img/x.png" alt="Fechar" class="imageFechar">
                </button>
            </div>
            <form>
                <label for="titulo">Título</label>
                <input type="text" name="titulo" placeholder="Digitar título">
                <label for="descricao"></label>
                <textarea name="descricao" id="" cols="30" rows="10" placeholder="Digitar descrição"></textarea>
                <label for="categoria"></label>
                <select name="categoria">
                    <Option>Exemplo 1</Option>
                    <Option>Exemplo 2</Option>
                </select>
                <button class="botaoAzulEscuro">Inserir</button>
            </form>
        </div>
    </div>

    <div class="modal_geral" id="modal_excluirHabito">

        <div class="modal-inner excluirHabito_modal-inner">
            <div class="fecharModal_modal-inner">
                <h2>Excluir hábito</h2>
                <button id="buttonFechar">
                    <img src="../assets/img/x.png" alt="Fechar" class="imageFechar">
                </button>
            </div>

            <div class="divExcluirEsteHabito">
                <h2>Certeza que deseja excluir este hábito?</h2>
                <p>Após executar essa ação não será possível desfazer</p>
            </div>

            <div class="botoes_excluirHabito">
                <button class="botaoCinza" id="botaoCancelar_excluirHabito">cancelar</button>
                <button class="botaoVermelho">Sim, excluir este hábito</button>
            </div>
        </div>
    </div>

    <script type="module" src="../scripts/homePage.scripts.js"></script>
</body>

</html>