<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenzie Habit</title>
    <link rel="stylesheet" href="../css/reset.css">
    <!-- <link rel="stylesheet" href="./src/css/base.css"> -->
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<style>


</style>

<body>
    <header>
        <div class="primeiroBox">
            <h2>KenzieHablit</h2>
            <figure>
                <img src="../assets/img/Ellipse 3.png" alt="">
            </figure>
        </div>
        <div class="segundoBox">
            <figure>
                <img src="../assets/img/Ellipse 3.png" alt="">
            </figure>
            <h3>Julia Silva Rodrigues</h3>
        </div>
    </header>

    <main>

        <section class="secaoCabecalho">
            <h3>Tarefas</h3>
            <div>
                <button class="botaoTodos">Todos</button>
                <button class="botaoConcluidos">Concluídos</button>
                <button class="botaoCriar">Criar</button>
            </div>
        </section>

        <section class="secaoTabela">
            <table>
                <tr>
                    <th class="status">Status</th>
                    <th class="titulo">Titulo</th>
                    <th class="descricao">Descrição</th>
                    <th class="categoria">Categoria</th>
                    <th class="editar">Editar</th>
                </tr>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>

            </table>
        </section>
        <button class="carregarMais">Carregar mais</button>
    </main>


    <script type="module" src="../scripts/homePage.scripts.js"></script>
</body>

</html>